h1,
a {
    color: #48e;
    font-family: sans-serif;
    margin: 30px;
}

/* cuando se pase el mouse por encima del h1 */
h1:hover {
    color: #ddd;
    background-color: #333;
    border-radius: 3px;
}

h2:active {
    background-color: #334;
    color: #dda;
}

ul{
    background-color: #999;
    padding: 5px;
}

/* seleccionar solo el primero */
li:first-child {
    color: red;
}

/*un elemento si un elemento no */
li:nth-child(2n) {
    color: rgb(95, 200, 200);
    background-color: #ddd;
}

li:last-child {
    color: blue;
}
