h1,
a {
    color: #48e;
    font-family: sans-serif;
    margin: 30px;
}

/* cuando se pase el mouse por encima del h1 */
h1:hover {
    color: #ddd;
    background-color: #333;
    border-radius: 3px;
}

h2:active {
    background-color: #334;
    color: #dda;
}

ul {
    background-color: #999;
    padding: 5px;
}

/* seleccionar solo el primero */
li:first-child {
    color: red;
}

/*un elemento si un elemento no */
li:nth-child(2n) {
    color: rgb(95, 200, 200);
    background-color: #ddd;
}

li:last-child {
    color: blue;
}

/* seleccionando los li dentro de .lista
pero que no tengan la clase excluir */
.lista li:not(.excluir) {
    color: red;
}

div {
    border: 2px solid black;
}

/* oculta los elementos vacios */
div:empty {
    background-color: #333;
    padding: 30px;
}

input[type="checkbox"] {
    margin: 50px;
}

/* si esta chekeado tiene margen de 10px */
input[type="checkbox"]:checked {
    margin: 10px;
}

/* seleccionando enlaces no visitados */
a:link {
    color: blueviolet;
    font-weight: bold;
}

/* seleccionando enlaces visitados */
a:visited {
    color: #48e;
    font-weight: 100;
}

/* cuando un input es valido o no */
input:invalid {
    color: red;
}
input:valid {
    color: black;
}